<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
          media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Configuration</title>
</head>
<body>
<div class="container">
    <h2>Config collector</h2>
    <p>A new project will be created and it will need a billing account for its resources.</p>
    <form class="col s6" id="configForm" action="/config" method="POST">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="{{ .DefaultProjectName }}" id="projectName" name="projectName" type="text" class="validate" value="{{ .DefaultProjectName }}" />
                <label for="projectName">Project name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="1111111111" id="parentFolderID" name="parentFolderID" type="text" class="zvalidate">
                <label for="parentFolderID">Project folder (optional)</label>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <label for="organization">Organization</label>
                {{ range $key, $displayName := .Organizations }}
                <div>
                    <label>
                        <input id="organization" name="organization" type="radio" value="{{ $key }}" checked/>
                        <span>{{ $displayName }}</span>
                    </label>
                </div>
                {{ end }}
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <label for="billingAccount">Billing account</label>
                {{ range $key, $displayName := .BillingAccounts }}
                <div>
                    <label>
                        <input id="billingAccount" name="billingAccount" type="radio" value="{{ $key }}" checked/>
                        <span>{{ $displayName }}</span>
                    </label>
                </div>
                {{ end }}
            </div>
        </div>
        <a href="javascript:{}" onclick="document.getElementById('configForm').submit(); return false;"
           class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Submit</a>
    </form>
</div>
</body>
